---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";

const { blogCollection, indexPageContent } = Astro.props;

const sortedBlogCollection = blogCollection
  .map((post) => {
    return {
      ...post,
      data: { ...post.data, publish_date: new Date(post.data.publish_date) },
    };
  })
  .sort((a, b) => b.data.publish_date - a.data.publish_date);
---

<Layout title="Blog">
  <section class="bg-gray-50 blog_window font-light py-8 text-gray-500">
    <h1
      class="font-bold font-sans mt-9 text-3xl text-center text-yellow_leave-600 uppercase"
    >
      {indexPageContent.data.title}
    </h1>
    <h2
      class="font-all font-light mt-1 mb-8 text-lg text-center text-brown_dark-600 uppercase"
    >
      {indexPageContent.data.subtitle}
    </h2>
    <div class="container mx-auto relative w-10/12">
      <div class="flex flex-wrap -mx-4">
        {
          sortedBlogCollection.map((blog) => (
            <div class="p-4 w-full md:w-4/12 lg:w-3/12">
              <div class="bg-white flex flex-col shadow-lg">
                <a
                  href={`blog/${blog.slug.split("/").pop()}`}
                  class="block hover:opacity-75"
                >
                  <Image
                    src={blog.data.cover_image}
                    alt={blog.data.cover_alt}
                    class="w-full"
                    width="350"
                    height="240"
                  />
                </a>
                <div class="flex  justify-around flex-col p-4 text-left">
                  <div>
                    <a
                      href={`/blog/${blog.slug}`}
                      class="block hover:text-blue-600 mb-2 text-gray-800"
                    />
                    <h4 class="font-semibold leading-tight mb-2 text-gray-600 text-bs">
                      {blog.data.title}{" "}
                    </h4>
                    <h4 class="leading-tight mb-2 text-gray-600 text-xs">
                      {new Date(blog.data.publish_date).toDateString()}:{" "}
                    </h4>
                    <p>{blog.data.excerpt}</p>
                  </div>
                  <div class="self-end text-right mt-1">
                    <a
                      href={`/blog/${blog.slug}`}
                      class="bg-yellow_leave-500 font-light hover:bg-yellow_leave-500 inline-block px-2 py-1 rounded-sm text-right text-sm text-white"
                    >
                      mehr lesen...
                    </a>
                  </div>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
