---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import RightSideContent from "../components/RightSideContent.astro";
import LeftSideContent from "../components/LeftSideContent.astro";
import CenterContentVideoBg from "../components/CenterContentVideoBg.astro";
import bgImg from "../assets/plant-a-tree.png";
import ContentLeftThreeButtonsRight from "../components/ContentLeftThreeButtonsRight.astro";

const {
  content: { data },
} = Astro.props;
---

<Layout title={data.pageMetaTitle}>
  <Hero content={data.hero} bgImg={bgImg} />
  <section class="bg-my_gray-100 pb-20 pt-5 px-10">
    <div class="container mx-auto px-4 lg:w-9/12">
      <div>
        <div class="flex flex-no-wrap items-center mx-auto py-10 w-4/5">
          <div class="bg-gray-500 flex-grow h-px max-w-full"></div>
          <div class="px-10 w-auto">
            <h2
              class="font-all font-light text-4xl text-yellow_leave-600 uppercase"
            >
              {data.participate.title}
            </h2>
          </div>
          <div class="bg-gray-500 flex-grow h-px max-w-full"></div>
        </div>
      </div>
      <div class="-mx-4 flex flex-wrap">
        {
          data.participate.cards.map((card) => (
            <div class="flex flex-col items-center justify-center mb-5 px-4 w-full sm:w-1/2 md:w-1/4">
              <div class="mx-auto relative">
                <a
                  href={card.link}
                  class="absolute flex font-all font-medium h-full items-center justify-center text-center text-white text-xl uppercase w-full md:text-base xl:text-xl"
                >
                  {card.title}
                </a>
                <Image src={card.image} alt={card.image_alt} class="w-full" />
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </section>
  <section class="bg-white py-12">
    <div class="mx-auto px-4 text-center w-full">
      <h1
        class="drop-shadow-2xl font-all font-extrabold mb-4 text-6xl text-brown_dark-600"
      >
        {data.about_us.title}
      </h1>
      <p
        class="drop-shadow-lg font-light leading-relaxed mb-6 px-5 text-2xl text-my_gray-950"
      >
        {data.about_us.paragraph}
      </p>
      <a
        href={data.about_us.link}
        class="bg-yellow_leave-400 font-light hover:bg-green-400 inline-block px-5 py-2 rounded-sm text-white uppercase"
        >{data.about_us.link_text}</a
      >
    </div>
  </section>
  <RightSideContent content={data.situation} />
  <LeftSideContent content={data.problem} />
  <CenterContentVideoBg content={data.solution} />
  <ContentLeftThreeButtonsRight content={data.donors} />
</Layout>
