---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import PageTitle from "../components/PageTitle.astro";
import { micromark } from "micromark";
import { getImage } from "astro:assets";
import ImageWithCaption from "../components/ImageWithCaption.astro";
import HeroCaption from "../components/HeroCaption.astro";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);

const { frontmatter } = Astro.props;

const heroImageOptimized = await getImage({ src: frontmatter.bg_image });
---

<Layout title={frontmatter.title}>
  {
    frontmatter.spanish_donation_msg && (
      <>
        <div class="bg-yellow_leave-600 text-center font-all font-bold  p-3 text-brown_dark-900 text-lg tracking-wider">
          {frontmatter.spanish_donation_msg}
          <a
            class="text-blue-900 hover:underline uppercase"
            href="/es/contacto"
          >
            Ir a CONTACTO
          </a>
        </div>
      </>
    )
  }
  <section
    class="relative plant-a-tree-hero text-gray-500"
    style={`background-image: url(${heroImageOptimized.src});`}
  >
    <div class="container mx-auto px-4 py-5 md:py-5 lg:py-5 xl:py-20">
      <div
        class="bg-brown-900 bg-opacity-40 flex flex-wrap mx-auto py-10 lg:w-10/12"
      >
        <div class="mx-auto px-4 text-center w-full lg:w-8/12">
          <h1
            class="font-extrabold uppercase mb-4 text-4xl text-brown-100 sm:text-6xl"
          >
            {frontmatter.page_title}
          </h1>
          <p
            class="drop-shadow-lg font-bold mb-2 text-2xl text-brown-50 uppercase"
          >
            {frontmatter.subtitle}
          </p>
          <p
            class="drop-shadow-lg font-light leading-relaxed mb-6 text-2xl text-my_gray-300"
          >
            {frontmatter.excerpt}
          </p>
          <a
            href={frontmatter.button_link}
            class="bg-yellow_leave-500 font-light hover:bg-yellow_leave-500 inline-block px-5 py-2 rounded-sm text-white uppercase"
            >{frontmatter.button_text}</a
          >
        </div>
      </div>
    </div>
    <HeroCaption text={frontmatter.bg_alt} />
  </section>

  <!-- How does it work -->
  <section class="bg-white py-10">
    <h3 class="font-bold mb-5 text-3xl text-center text-yellow_leave-600">
      {frontmatter.description_title}
    </h3>
    <div
      set:html={micromark(frontmatter.description)}
      class="font-all px-4 md:px-10 text-green_dark-300 text-xl tracking-wider lg:px-20 lg:text-2xl"
    />
  </section>

  <!-- Donation Section -->
  <section class="container mx-auto px-4 md:px-24 py-10">
    <div class="flex flex-wrap -mx-4 justify-center">
      <!-- donation data -->
      <div
        class="flex flex-col items-center justify-center p-5 w-full md:w-1/2"
      >
        <h3 class="font-bold text-center text-xl text-yellow_leave-600">
          {frontmatter.what_you_get.title}
        </h3>

        <ul class="font-bold list-disc p-5 text-green_dark-400">
          {
            frontmatter.what_you_get.list_items.map((item) => (
              <li class="mb-2">{item}</li>
            ))
          }
        </ul>
        <div class="mb-5 text-center">
          <a
            href={frontmatter.button_link}
            class="bg-yellow_leave-500 font-light hover:bg-yellow_leave-500 inline-block mt-5 px-5 py-2 rounded-sm text-white uppercase"
            >{frontmatter.button_text}</a
          >
        </div>
      </div>
      <!-- Image -->
      <div class="w-full md:flex md:items-center md:w-1/2">
        <div class="relative p-3 shadow-lg">
          <Image
            src={frontmatter.what_you_get.image}
            alt={frontmatter.what_you_get.image_alt}
            width="700"
            quality="mid"
            class="w-full object-cover h-full"
          />
          <div class="absolute bottom-2 right-4">
            <span class="text-white"
              ><p
                class="drop-shadow-lg bg-slate-900 px-2 bg-opacity-70 font-all font-light italic text-right text-sm tracking-wide md:text-base"
              >
                {frontmatter.what_you_get.image_alt}
              </p></span
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- certificate sample -->
  <section class="container mx-auto md:px-24 py-10">
    <div class="flex flex-wrap -mx-4 justify-center">
      <!-- Image -->
      <div
        class="w-full p-4 md:flex md:items-center md:w-1/2 order-2 md:order-1"
      >
        <div class="relative p-3 shadow-lg">
          <Image
            src={frontmatter.certificate_sample.image}
            alt={frontmatter.certificate_sample.image_alt}
            width="700"
            quality="mid"
            class="w-full object-cover h-full"
          />
        </div>
      </div>

      <!-- text -->
      <div
        class="order-1 flex flex-col items-center justify-center p-10 w-full md:w-1/2"
      >
        <h3 class="font-bold text-center text-xl text-yellow_leave-600">
          {frontmatter.certificate_sample.title}
        </h3>
        <div
          class="prose prose-li:font-bold mt-4 text-green_dark-500 md:items-center"
          set:html={micromark(frontmatter.certificate_sample.body)}
        />

        <div class="mb-5 text-center">
          <a
            href={frontmatter.button_link}
            class="bg-yellow_leave-500 font-light hover:bg-yellow_leave-500 inline-block mt-5 px-5 py-2 rounded-sm text-white uppercase"
            >{frontmatter.button_text}</a
          >
        </div>
      </div>
    </div>
  </section>

  <div class="mb-10 text-center">
    <a
      href={`${getRelativeLocaleUrl(lang)}${frontmatter.back_button_link}`}
      class="bg-yellow_leave-500 font-light hover:bg-yellow_leave-500 inline-block mt-5 px-5 py-2 rounded-sm shadow-lg text-white uppercase"
      >{frontmatter.back_button_text}</a
    >
  </div>
</Layout>

<style>
  .plant-a-tree-hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
</style>
