---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import ProjectCard from "../components/ProjectCard.astro";
const {
  pageContent,
  projects: { projects, natureReserve },
} = Astro.props;
---

<Layout title="selva viva projects page">
  <div>
    <h1
      class="font-all font-bold mb-7 mt-9 text-2xl text-center text-yellow_leave-700 uppercase lg:text-4xl xl:mb-9 xl:mt-12"
    >
      {pageContent.title}
    </h1>
  </div>
  <section class="mb-20 projects_section">
    <section class="mb-20 projects_section">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap -mx-4">
          {projects.map((project) => <ProjectCard cardContent={project} />)}
          <a href={`/projekte/die-finca`}>
            <div class="md:w-1/2 px-4 w-full xl:w-1/4">
              <div class="overflow-hidden p-4 rounded shadow-lg">
                <Image
                  src={natureReserve.data.hero.main_title_image}
                  alt={natureReserve.data.hero.main_title_image_alt}
                  class="w-full"
                  width="300"
                />
                <div class="px-6 py-4">
                  <div class="font-bold text-xl mb-2">
                    {natureReserve.data.hero.main_title}
                  </div>
                  <p class="text-gray-700 text-base">
                    {natureReserve.data.location.paragraph_1}
                  </p>
                </div>
                <div class="px-6 pt-4 pb-2 text-right">
                  <a
                    href={`/projekte/die-finca`}
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
                  >
                    {natureReserve.data.hero.main_title}
                  </a>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </section>
  </section>
</Layout>
