---
import Layout from "../layouts/Layout.astro";
import SupportCard from "../components/SupportCard.astro";
import PageTitle from "../components/PageTitle.astro";
import SupportHero from "../components/SupportHero.astro";

const { projects, supportPageData } = Astro.props;
---

<Layout title="selva viva projects page">
  <SupportHero supportPageData={supportPageData} />
  <h4
    class="font-bold font-sans text-2xl text-center text-yellow_leave-600 mt-20"
  >
    {supportPageData.data.projects_section_title}
  </h4>
  <p class="text-brown-600 text-center font-all tracking-wider text-lg mt-2">
    {supportPageData.data.projects_section_subtitle}
  </p>
  <SupportCard projects={projects} />
  <div class="mb-10 text-center">
    <a
      href={supportPageData.data.bottom_link}
      class="bg-yellow_leave-500 font-light hover:bg-yellow_leave-500 inline-block mt-5 px-5 py-2 rounded-sm shadow-lg text-white uppercase"
      >{supportPageData.data.bottom_link_text}</a
    >
  </div>
</Layout>
