---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import { getLangFromUrl } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const {
  Content,
  treeEntry: { data: tree },
  treeProfileTitles: { frontmatter: profileTitles },
} = Astro.props;
---

<Layout title="selva viva projects page">
  <PageTitle>{tree.name}</PageTitle>
  <div class="prose mx-auto">
    <ul>
      {tree.other_names.map((name) => <li>{name}</li>)}
    </ul>
    <h3>{profileTitles.general_information[lang]}</h3>
    <p>{tree.general_information}</p>
    <h3>{profileTitles.range[lang]}</h3>
    <p>{tree.range}</p>
    <h3>{profileTitles.habitat[lang]}</h3>
    <p>{tree.habitat}</p>
  </div>
</Layout>
