---
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import { getLangFromUrl } from "../i18n/utils";
import ImageGallery from "../components/ImageGallery.astro";
import { micromark } from "micromark";

const lang = getLangFromUrl(Astro.url);

const {
  Content,
  treeEntry: { data: tree },
  treeProfileTitles: { frontmatter: titles },
} = Astro.props;
---

<Layout title={tree.name}>
  <PageTitle>{tree.name}</PageTitle>
  <div class="prose mx-auto md:max-w-none w-8/12 mb-9">
    <div class="flex flex-col-reverse md:flex-row bg-beige-200 p-10 rounded-xl">
      <div class="w-full md:w-2/4">
        <h2>{titles.scientific_name[lang]}</h2>s
        <p class="font-bold">{tree.scientific_name}</p>
        <h3>{titles.scientific_synonyms[lang]}</h3>
        <ul>
          {tree.scientific_synonyms.map((name) => <li>{name}</li>)}
        </ul>
        <h3>{titles.other_names[lang]}</h3>
        <ul>
          {tree.other_names.map((name) => <li>{name}</li>)}
        </ul>
        <h3>{titles.general_information[lang]}</h3>
        <div set:html={micromark(tree.general_information)} />
        <h3>{titles.range[lang]}</h3>
        <p>{tree.range}</p>
        <h3>{titles.habitat[lang]}</h3>
        <p>{tree.habitat}</p>
      </div>
      <div class="w-full md:w-2/4">
        <ImageGallery images={tree.galleryImages} />
      </div>
    </div>
    <h4>{titles.properties[lang]}</h4>

    <div class="">
      <table
        class="prose-td:pt-4 prose-th:font-medium table-auto border-collapse rounded-lg overflow-hidden w-full bg-beige-200"
      >
        <tbody>
          <tr>
            <th>{titles.properties.conservation_status[lang]}</th>
            <td>{tree.properties.conservation_status}</td>
          </tr>
          <tr>
            <th>{titles.properties.medicinal_rating[lang]}</th>
            <td>{tree.properties.medicinal_rating}</td>
          </tr>
          <tr>
            <th>{titles.properties.other_uses[lang]}</th>
            <td>{tree.properties.other_uses}</td>
          </tr>
          <tr>
            <th>{titles.properties.wood[lang]}</th>
            <td>{tree.properties.wood}</td>
          </tr>
          <tr>
            <th>{titles.properties.habit[lang]}</th>
            <td>{tree.properties.habit}</td>
          </tr>
          <tr>
            <th>{titles.properties.height[lang]}</th>
            <td>{tree.properties.height}</td>
          </tr>
          <tr>
            <th>{titles.properties.growth_rate[lang]}</th>
            <td>{tree.properties.growth_rate}</td>
          </tr>
          <tr>
            <th>{titles.properties.pollinators[lang]}</th>
            <td>{tree.properties.pollinators}</td>
          </tr>
          <tr>
            <th>{titles.properties.cultivation_status[lang]}</th>
            <td
              >{
                tree.properties.cultivation_status.map((status) => (
                  <span class="ms-2">{status}</span>
                ))
              }</td
            >
          </tr>
        </tbody>
      </table>
    </div>
    <h4>Ecological Importance</h4>
    <div
      class="bg-beige-200 p-10 rounded-xl"
      set:html={micromark(tree.ecological_importance)}
    />
    <h4>Nutricional Uses</h4>
    <div
      class="bg-green-200 p-10 rounded-xl text-white"
      set:html={micromark(tree.nutritional_uses)}
    />
    <h4>Medicinal Uses</h4>
    <div
      class="bg-beige-200 p-10 rounded-xl"
      set:html={micromark(tree.medicinal_uses)}
    />
    <h4>{titles.uses[lang]}</h4>
    <div class="bg-green-200 p-10 rounded-xl" set:html={micromark(tree.uses)} />
    <h4>{titles.agroforestry[lang]}</h4>
    <div
      class="bg-beige-200 p-10 rounded-xl"
      set:html={micromark(tree.agroforestry)}
    />
    <h4>{titles.wood[lang]}</h4>
    <div class="bg-green-200 p-10 rounded-xl" set:html={micromark(tree.wood)} />
    <h4>More Information</h4>
    {
      tree.more_info.map((info) => (
        <div
          class="break-words bg-beige-200 p-10 rounded-xl"
          set:html={micromark(info)}
        />
      ))
    }
  </div>
</Layout>
<style>
  td,
  th {
    @apply px-4 py-2;
  }

  tr:nth-child(odd) {
    @apply bg-green-200;
  }
  tr:nth-child(even) {
    @apply text-green-500;
  }
</style>
