---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const { data } = Astro.props;
---

<!-- about us -->
<section class="bg-white py-12 relative">
  <div class="mx-auto px-4 text-center w-full">
    <h1
      class="drop-shadow-2xl font-all font-extrabold mb-4 text-6xl text-brown_dark-600"
    >
      {data.about_us.title}
    </h1>
    <p
      class="drop-shadow-lg font-light leading-relaxed mb-6 px-5 text-2xl text-my_gray-950"
    >
      {data.about_us.paragraph}
    </p>
    <a
      href={`${getRelativeLocaleUrl(lang)}${data.about_us.link}`}
      class="bg-yellow_leave-400 font-light hover:bg-green-400 inline-block px-5 py-2 rounded-sm text-white uppercase"
      >{data.about_us.link_text}</a
    >
  </div>
</section>
