---
import { Image } from "astro:assets";
const { content } = Astro.props;
---

<div class="flex flex-no-wrap items-center mx-auto py-10 w-4/5">
  <div class="bg-gray-500 flex-grow h-px max-w-full"></div>
  <div class="px-10 w-auto">
    <h2
      class="font-all font-semibold text-4xl text-center text-yellow_leave-600 uppercase"
    >
      {content.title}
    </h2>
  </div>
  <div class="bg-gray-500 flex-grow h-px max-w-full"></div>
</div><div class="bg-beige-50">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
      <div class="px-4 w-full md:w-7/12">
        <Image
          src={content.image}
          alt={content.image_alt}
          class="clip_photo_right_lower h-full object-cover w-full"
        />
      </div>
      <div
        class="flex flex-col items-start justify-center p-4 w-full md:w-5/12"
      >
        <p class="font-bold mb-4 mt-4 px-4 text-brown-800 text-xl uppercase">
          {content.subtitle}
        </p>
        <ul>
          {
            content.list.map((item) => (
              <li class="border-b-2 drop-shadow-lg font-light leading-relaxed mb-2 px-4 text-brown-800 text-left text-xl">
                {item}
              </li>
            ))
          }
        </ul>
        <p
          class="border-b-2 drop-shadow-lg font-light leading-relaxed mb-2 px-4 text-brown-800 text-left text-xl"
        >
          <a
            href={`./${content.read_more_link}`}
            class="text-slate-500 font-normal">{content.read_more_text}</a
          >
        </p>
        <a
          href={content.button_link}
          class="bg-yellow_leave-500 font-light hover:bg-green-400 inline-block mt-7 mx-4 px-5 py-2 rounded-sm shadow-lg text-white uppercase"
          >{content.button_text}</a
        >
      </div>
    </div>
  </div>
</div>
