---
const { content, bgImg } = Astro.props;
import { getLangFromUrl } from "../i18n/utils";
import { pickLangPath } from "../utils/utils";

const lang = getLangFromUrl(Astro.url);
---

<section class="bg-green-800 hero relative text-gray-400">
  <div class="container mx-auto px-4 py-48">
    <div>
      <div class="px-4 w-full lg:w-6/12">
        <p class="font-medium mb-2 text-2xl text-yellow_leave-400 uppercase">
          {content.p}
        </p>
        <h1 class="font-extrabold mb-4 text-8xl text-white">{content.h1}</h1>
        <p class="font-all font-light mb-6 text-2xl">{content.msg}</p>
        <a
          href={`${pickLangPath(lang)}support`}
          class="bg-yellow_leave-700 font-light hover:bg-yellow_leave-600 inline-block px-5 py-2 rounded-sm text-2xl text-brown_dark-900 uppercase"
          >{content.button}</a
        >
      </div>
    </div>
  </div>
</section>

<style>
  .hero {
    background-image: url("../assets/plant-a-tree.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @media (min-width: 768px) {
    .hero {
      background-repeat: no-repeat;
      background-position: left center;
    }
  }

  @media (min-width: 1280px) {
    .hero {
      background-position: center top;
    }
  }
</style>
