---
const { content } = Astro.props;
import { getImage } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "../i18n/utils";
import { useTranslationsForLinks } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const links = useTranslationsForLinks(lang);


const optimizedBackground = await getImage({ src: content.hero_bg_image });
---

<section
  class="bg-green-800 hero relative text-gray-400"
  style={`background-image: url(${optimizedBackground.src});`}
>
  <div class="container mx-auto px-4 py-40">
    <div>
      <div class="px-4 w-full lg:w-6/12">
        <p class="font-medium mb-2 text-2xl text-white uppercase">
          {content.greeting}
        </p>
        <h1 class="font-extrabold mb-4 text-8xl text-white">{content.title}</h1>
        <p class="font-all font-light mb-6 text-2xl">
          {content.msg}
        </p>
        <a
          href={`${getRelativeLocaleUrl(lang)}${links("support")}`}
          class="bg-yellow_leave-500 font-light hover:bg-green-500 inline-block px-5 py-2 rounded-sm text-2xl text-white uppercase"
          >{content.button}</a
        >
      </div>
    </div>
  </div>
</section>

<style>
  .hero {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }

  @media (min-width: 768px) {
    .hero {
      background-repeat: no-repeat;
      background-position: left center;
    }
  }

  @media (min-width: 1280px) {
    .hero {
      background-position: center top;
    }
  }
</style>
