---
const { content } = Astro.props;
import { getLangFromUrl } from "../i18n/utils";
import { pickLangPath } from "../utils/utils";
import Image from "astro/components/Image.astro";
import ImageWithCaption from "./ImageWithCaption.astro";

const lang = getLangFromUrl(Astro.url);
---

<section class="bg-olive_dark-500">
  <div class="container mx-auto px-4">
    <div class="-mx-4 flex flex-wrap md:flex-row-reverse">
      <div class="md:flex md:items-center md:justify-center md:p-4 md:w-1/2">
        <ImageWithCaption content={content} />
      </div>
      <div
        class="md:border-r-2 md:w-1/2 px-4"
        style="border-left-color: #000000; border-right-style: none;"
      >
        <h3
          class="font-bold font-sans mt-9 text-4xl text-center text-yellow_leave-600"
        >
          {content.title}
        </h3>
        <p class="font-all p-8 font-light text-2xl text-left text-white">
          {content.paragraph}
        </p>
        <div class="flex justify-center mb-10">
          <a
            href={`${pickLangPath(lang)}trees`}
            class="bg-yellow_leave-700 font-light hover:bg-yellow_leave-600 inline-block px-5 py-2 rounded-sm text-brown_dark-900 text-xl uppercase"
            >{content.button}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
