---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { getRelativeLocaleUrl } from "astro:i18n";
import LanguagePicker from "./LanguagePicker.astro";
import { Icon } from "astro-icon";
import { useTranslationsForLinks } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const links = useTranslationsForLinks(lang);
---

<script>
  const menuBlock = document.querySelector(".menu_block");
  const hamButton = document.querySelector(".ham_button");
  const dropDownMenu = document.querySelector(".dropdown-menu");
  const menuMediaQuery = window.matchMedia("(min-width: 1024px)");

  hamButton?.addEventListener("click", () => {
    if (window.getComputedStyle(menuBlock, "null").display === "none") {
      menuBlock.classList.remove("hidden");
      //menuBlock.classList.add("flex-col", "flex");
    } else {
      menuBlock?.classList.add("hidden");
    }
  });
</script>

<header class="mx-auto">
  <LanguagePicker />
  <nav class="bg-green-400 flex flex-wrap items-center px-4 py-5">
    <div class="w-10 mr-1">
      <Icon name="logo" />
    </div>
    <a
      href={getRelativeLocaleUrl(lang)}
      class="ms-2 font-medium hover:text-yellow_leave-300 mr-auto text-xl text-yellow_leave-400 uppercase"
      >Viva La Selva</a
    >
    <button
      class="ham_button hover:bg-green_dark-500 hover:text-white px-3 py-2 rounded text-yellow_leave-400 lg:hidden"
    >
      <span class="block border-b-2 border-current my-1 w-6"></span>
      <span class="block border-b-2 border-current my-1 w-6"></span>
      <span class="block border-b-2 border-current my-1 w-6"></span>
    </button>
    <div
      class="menu_block lg:flex-row lg:flex lg:space-x-4 lg:space-y-0 lg:w-auto space-y-2 w-full hidden lg:items-center"
    >
      <div class="flex flex-col lg:flex-row">
        <a
          href={getRelativeLocaleUrl(lang)}
          class="font-all font-medium hover:text-yellow_leave-400 px-0 py-2 uppercase lg:px-4"
          >{t("nav.home")}</a
        >
        <div class="dropdown-group lg:flex items-start lg:relative">
          <a
            href={`${getRelativeLocaleUrl(lang)}${links("projects")}`}
            class="font-all font-medium hover:text-yellow_leave-400 px-0 py-2 uppercase z-50 lg:px-4"
            >{t("nav.projects")}</a
          >
          <ul
            class="dropdown-menu h-min lg:ml-4 pt-2 lg:pt-14 w-max lg:absolute lg:bg-green-400 lg:hidden lg:z-30"
          >
            <li class="font-all font-medium pb-4 px-4">
              <a
                href={`${getRelativeLocaleUrl(lang)}${links(
                  "projects.tree-nursery"
                )}`}
                class="hover:text-yellow_leave-600"
                >{t("nav.projects.tree-nursery")}</a
              >
            </li>
            <li class="font-all font-medium pb-4 px-4">
              <a
                href={`${getRelativeLocaleUrl(lang)}${links(
                  "projects.theFinca"
                )}`}
                class="hover:text-yellow_leave-600"
                >{t("nav.projects.theFinca")}</a
              >
            </li>
          </ul>
        </div>
        <div class="dropdown-group lg:flex items-start lg:relative">
          <a
            href={`${getRelativeLocaleUrl(lang)}${links("plantAndProtect")}`}
            class="font-all font-medium hover:text-yellow_leave-400 px-0 py-2 uppercase z-50 lg:px-4"
            >{t("nav.plantAndProtect")}</a
          >
          <ul
            class="dropdown-menu h-min lg:ml-4 pt-2 lg:pt-14 w-max lg:absolute lg:bg-green-400 lg:hidden lg:z-30"
          >
            <li class="font-all font-medium pb-4 px-4">
              <a
                href={`${getRelativeLocaleUrl(lang)}${links(
                  "plantAndProtect.adoptATree"
                )}`}
                class="hover:text-yellow_leave-600"
                >{t("nav.plantAndProtect.adoptATree")}</a
              >
            </li>
            <!-- <li class="font-all font-medium pb-4 px-4">
              <a
                href={`${pickLangPath(lang)}pflanze-und-schütze/waldwächter`}
                class="hover:text-yellow_leave-600"
                >{t("nav.plantAndProtect.forestGuardian")}</a
              >
            </li> -->
          </ul>
        </div>
        <!-- <a
          href={`${pickLangPath(lang)}trees`}
          class="font-all font-medium hover:text-yellow_leave-400 px-0 py-2 uppercase lg:px-4 lg:z-50"
          >{t("nav.trees")}</a
        > -->
        <a
          href={`${getRelativeLocaleUrl(lang)}${links("blog")}`}
          class="font-all font-medium hover:text-yellow_leave-400 px-0 py-2 uppercase lg:px-4 lg:z-50"
          >{t("nav.blog")}</a
        >
        <a
          href={`${getRelativeLocaleUrl(lang)}${links("about")}`}
          class="font-all font-medium hover:text-yellow_leave-400 px-0 py-2 uppercase lg:px-4 lg:z-50"
          >{t("nav.about")}</a
        >
        <a
          href={`${getRelativeLocaleUrl(lang)}${links("contact")}`}
          class="font-all font-medium hover:text-yellow_leave-400 px-0 py-2 uppercase lg:px-4 lg:z-50"
          >{t("nav.contact")}</a
        >
      </div>
      <a
        href={`${getRelativeLocaleUrl(lang)}${links("support")}`}
        class="place-self-start bg-yellow_leave-500 font-light hover:bg-yellow_leave-800 hover:text-white inline-block px-5 py-2 rounded text-black uppercase"
        >{t("nav.support")}</a
      >
    </div>
  </nav>
</header>

<style>
  .dropdown-group:hover .dropdown-menu {
    display: block;
  }
</style>
