---
import { Image } from "astro:assets";
const { our_trees } = Astro.props;
---

<section class="bg-white" data-pg-collapsed>
  <div>
    <div class="flex flex-no-wrap items-center mx-auto py-10 w-4/5">
      <div class="bg-gray-500 flex-grow h-px max-w-full"></div>
      <div class="px-10 w-auto">
        <h2
          class="font-all font-semibold text-4xl text-center text-yellow_leave-600 uppercase"
        >
          {our_trees.title}
        </h2>
      </div>
      <div class="bg-gray-500 flex-grow h-px max-w-full"></div>
    </div>
  </div>
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
      <div
        class="flex flex-col items-start justify-center px-2 w-full md:w-5/12 lg:px-10"
      >
        <div class="mx-auto">
          <p class="font-bold mb-4 mt-4 text-brown-800 text-xl uppercase">
            {our_trees.subtitle}
          </p>
        </div>
        <ul class="flex flex-wrap">
          {
            our_trees.trees_list.map((tree) => (
              <li class="border-b-2 drop-shadow-lg font-light leading-relaxed ml-2 px-2 text-brown-800 text-xl capitalize">
                {tree}
              </li>
            ))
          }
        </ul>
        <a
          href={`/${our_trees.button_link}`}
          class="bg-yellow_leave-500 font-light hover:bg-green-400 inline-block mt-7 mx-auto px-5 py-2 rounded-sm shadow-lg text-white uppercase"
          >{our_trees.button_text}</a
        >
      </div>
      <div class="flex p-4 w-full md:w-7/12">
        <Image
          src={our_trees.image}
          alt={our_trees.image_alt}
          class="clip_photo_left_upper h-full object-cover w-full"
        />
      </div>
    </div>
  </div>
</section>
