---
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const { data } = Astro.props;
---

<!-- TODO: improve the routing for this session's links -->
<section class="bg-my_gray-100 pb-20 pt-5 px-10">
  <div class="container mx-auto px-4 lg:w-9/12">
    <div>
      <div class="flex flex-no-wrap items-center mx-auto py-10 w-4/5">
        <div class="bg-gray-500 flex-grow h-px max-w-full"></div>
        <div class="px-10 w-auto">
          <h2
            class="font-all font-light text-4xl text-yellow_leave-600 uppercase"
          >
            {data.participate.title}
          </h2>
        </div>
        <div class="bg-gray-500 flex-grow h-px max-w-full"></div>
      </div>
    </div>
    <div class="-mx-4 flex flex-wrap">
      {
        data.participate.cards.map((card) => (
          <div class="flex flex-col items-center justify-center mb-5 px-4 w-full sm:w-1/2 md:w-1/3 xl:w-1/4">
            <div class="relative w-full sm:aspect-square">
              <a
                href={`${getRelativeLocaleUrl(lang)}${card.link}`}
                class="absolute flex font-all font-medium h-full items-center justify-center text-center text-white text-xl uppercase w-full md:text-base xl:text-xl hover:underline"
              >
                {card.title}
              </a>
              <Image
                src={card.image}
                alt={card.image_alt}
                class="w-full h-full object-cover"
              />
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
