---
import { getRelativeLocaleUrl } from "astro:i18n";
import { getLangFromUrl } from "../i18n/utils";
import { Image } from "astro:assets";
const { cardContent } = Astro.props;
const lang = getLangFromUrl(Astro.url);
---

<a href={`${getRelativeLocaleUrl(lang)}${cardContent.link}`}>
  <div class="md:w-1/2 px-4 w-full xl:w-1/4">
    <div class="overflow-hidden p-4 rounded shadow-lg">
      <Image
        src={cardContent.cover_image}
        alt={cardContent.cover_image_alt}
        class="w-full h-72 lg:h-56 object-cover"
        width="300"
      />
      <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
          {cardContent.title}
        </div>
        <p class="text-gray-700 text-base">
          {cardContent.excerpt}{" "}
        </p>
      </div>
      <div class="px-6 pt-4 pb-2 text-right">
        <a
          href={`${getRelativeLocaleUrl(lang)}${cardContent.link}`}
          class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"
        >
          {cardContent.link_text}
        </a>
      </div>
    </div>
  </div>
</a>
