---
import { Image } from "astro:assets";
import { micromark } from "micromark";
const { the_finca_story } = Astro.props;
---

<div>
  <div class="flex flex-no-wrap items-center mx-auto py-10 w-4/5">
    <div class="bg-gray-500 flex-grow h-px max-w-full"></div>
    <div class="px-10 w-auto">
      <h2
        class="font-all font-semibold text-4xl text-center text-yellow_leave-600 uppercase"
      >
        {the_finca_story.title}
      </h2>
    </div>
    <div class="bg-gray-500 flex-grow h-px max-w-full"></div>
  </div>
</div><div class="bg-white">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4">
      <div
        class="flex flex-col items-center justify-center px-4 w-full md:w-5/12"
      >
        <p class="font-bold mb-2 mt-4 text-brown-800 text-lg uppercase">
          {the_finca_story.subtitle_1}
        </p>
        <div
          set:html={micromark(the_finca_story.paragraph_1)}
          class="drop-shadow-lg font-light leading-relaxed lg:px-8 mb-6 px-4 text-brown-800 text-xl"
        />
        <p class="font-bold mb-2 mt-4 text-brown-800 text-lg uppercase">
          {the_finca_story.subtitle_2}
        </p>
        <div
          set:html={micromark(the_finca_story.paragraph_2)}
          class="drop-shadow-lg font-light leading-relaxed lg:px-8 mb-6 px-4 text-brown-800 text-xl"
        />
      </div>
      <div class="flex p-4 w-full md:w-7/12">
        <Image
          src={the_finca_story.image}
          alt={the_finca_story.image_alt}
          class="clip_photo_lower_left h-full object-cover w-full"
        />
      </div>
    </div>
  </div>
</div>
